<!DOCTYPE html> {% extends "base.html" %}
{% block content %}
<form action="/" method=POST>
	<h2 class="form-login-heading text-center">Search Craigslist</h2>
    {% if success == false %}
  <div class="col-md-12 text-center">
    <h2>Your search yielded no results</h2>
  {% endif %}
	{{ form.csrf_token }}
	<div class="col-md-6 text-center">
  		{{ wtf.form_field(form.mentioned) }}
  	</div>
  	<div class="col-md-3 text-center">
  		{{ wtf.form_field(form.hashtag) }}
  	</div>
  	<div class="col-md-3 text-center">
  		{{ wtf.form_field(form.keystring) }} 
  	</div>
  	<div class="col-md-12 text-center">
		<input class="btn btn-primary" type=submit val=go>
	</div>
</form>
{% endblock %}